/* Specifies some basic layout styles */

main, section {
  position: relative;
  max-width: 56em;
  // background-color: white;
  padding: 1em;
  margin: 0 auto;
  box-sizing: border-box;
}

main {
  background-color: white;
}