
// Basic Lists styling.

ul.none {
  list-style: none;
  li {
    padding-left: 1em;
  }
}

/* Applicable to either type of list. */
.horizontal {
  padding: 0;
}
.horizontal li {
  display: inline-block;
  border: 1px #aaa solid;
  padding: 0.25em 0.5em;
}

li {
  /* TODO: should be handled in Forms.scss */
  label {
    font-weight: bold;
  }
}
li {
  // TODO: should be in an implementation specific file.
  .las {
    font-size: 1.25em;
  }
}

// TODO: should be in an implementation specific file.
ul.open-false {
  li {
    // TODO: replace with animation.
    display: none;
  }
}
ul.open-true {
  li {
    // TODO: replace with animation.
    display: block;
  }
}
ul.open-true.horizontal {
  li {
    display: inline-block;
  }
}